bin
obj
backup
packages
AppPackages
TestResults
BundleArtifacts
PerformanceLogs
PerfLogs
Thumbs.db
*.vs
*.idea
*.cachefile
*.sap
*.suo
*.user
_ReSharper.*
/.cov
/*.DotSettings
*/project.lock.json
*.svn